* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --padding: 1.5rem;
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #777;
    --color-grey-darkmode: #555;
    --color-light: #efefef;
    --color-text: var(--color-black);
    --color-text-darkmode: var(--color-white);
    --color-text-grey: var(--color-grey);
    --color-background: var(--color-white);
    --color-background-darkmode: var(--color-black);
    --color-code-light-grey:  #cacbd1;
    --color-code-comment:     #a9aaad;
    --color-code-white:       #c5c9c6;
    --color-code-red:         #d16464;
    --color-code-orange:      #de935f;
    --color-code-yellow:      #f0c674;
    --color-code-green:       #a7bd68;
    --color-code-aqua:        #8abeb7;
    --color-code-blue:        #7e9abf;
    --color-code-purple:      #b294bb;
    --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
  
  html {
    font-family: var(--font-family-sans);
    color: var(--color-text);
    background: var(--color-background);
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-background-darkmode);
      color: var(--color-text-darkmode);
    }
  }
  img {
    width: 100%;
  }
  body {
    padding: var(--padding);
    max-width: 65rem;
    margin: 0 auto;
  }

  footer{
    border-top: 1px solid;
    margin-top: 2rem;
    padding-top: 2rem;
  }

@media screen and (min-width: 60rem) {
    body {
      --padding: 2rem;
    }
  
}

@media screen and (max-width: 999px) {
  .footeritems
  {
    margin-top: 0px !important;
  }

}

time{
  font-style: normal;
  color:var( --color-grey);
  font-size: medium;
  @media (prefers-color-scheme: dark) {
    color:var(  --color-grey-darkmode)
  }
}
.time{
  font-style: normal;
  color:var( --color-grey);
  font-size: medium;
  @media (prefers-color-scheme: dark) {
    color:var(  --color-grey-darkmode)
  }
}

/*
Article
*/

article{
    max-width:40rem;
    margin: 0 auto;
}

.article-header h1{
  padding-top:1rem;
  margin-bottom: 0px !important;
}

.article-header span{
  font-size: 1.25rem;
  color: var(--color-grey);
}

.article-info
{
  font-style: italic;
  padding-top:1rem;
}

.tag-label
{
  display: inline-block;
  padding:0px 4px;
  background: var(--color-grey);
  color: var(--color-white);
  text-transform: uppercase;
  font-style: normal;
  border-radius: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  @media (prefers-color-scheme: dark) {
    background:var(  --color-grey-darkmode);
  }

}
/*
Page
*/

.am-block
{
  max-width: 100% !important;
}


/*
Bloglist
*/

.card-body{
  padding-top: 5px;
  padding-left: 0rem;
}

.head-card{
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size:1.3rem;
}

.bloglistcard, .bloglistcard:hover{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.teaser-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uk-card-media-top{

  aspect-ratio: 16 / 9;
  max-width: 1280px;
  max-height: 720px;
}

.blogtext
{
  padding-bottom: 1rem;
}

.pagination{
  padding-top: 1.5rem;
}

/*
Quote
*/
am-quote
{
  border-left: 2px solid;
  padding-left: 1rem;
}

am-quote > figure > blockquote{
  border-left: none;
  padding-left: 0;
}

blockquote{
  margin-bottom: 2px;
  border-left: 2px solid;
  padding-left: 1rem;
  @media (prefers-color-scheme: dark) {
    color:var(  --color-grey);
  }
}

.am-block figcaption{
  padding: 0.5rem 0 0;
}



/*
---------------------------------------------
            PRev Next Navigation
---------------------------------------------            
*/

.prev-next-list{
  padding-top:0.5rem;
}

.prev-next-title{
  text-align: left;
  padding-bottom: 0rem;
  margin-bottom: 0;
}

.keepon-reading{
  padding-top:1.5rem;
  font-weight: bold;
}

.prev-next-date{
  text-align: start;
  font-style: italic;
}

.card-body-prev-next{
  text-align: start;
}


/*
-------------------------------------------
      Content Boxen
-------------------------------------------
*/

.container {
  display: flex; /* Flexbox verwenden */
}
.box {
  width: 50%; /* Jede Box nimmt die Hälfte der Breite des Elternelements ein */
  padding: 20px;
  box-sizing: border-box; /* Padding in der Breite einbeziehen */
}

/*
-------------------------------------------
      Header
-------------------------------------------
*/

h1, h2, h3, h4, h5, h6{
  margin-top: 0 !important;
  @media (prefers-color-scheme: dark) {
    color:var(  --color-text-darkmode);
  }
}


/*
-------------------------------------------
    NAVBAR
-------------------------------------------
*/

.uk-navbar{
  @media (prefers-color-scheme: dark) {
    color:var(  --color-text-darkmode);
  }
}

a.uk-navbar-item{
  @media (prefers-color-scheme: dark) {
    color:var(  --color-text-darkmode);
  }
}

a.uk-navbar-item:hover{
  @media (prefers-color-scheme: dark) {
    color:var(  --color-grey);
  }
}

ul.uk-navbar-nav{
  @media (prefers-color-scheme: dark) {
    color:var(  --color-text-darkmode);
  }
}

.navbar-items{
  @media (prefers-color-scheme: dark) {
    color:var(  --color-text-darkmode);
  }
}

/*
-------------------------------------------
    SIDENAV
-------------------------------------------
*/

.uk-offcanvas-bar{
  @media (prefers-color-scheme: dark) {
    background-color:var(  --color-background-darkmode);
    border-right: var(--color-grey-darkmode);
  }
}